.SuggestUs {
  @apply flex w-full h-full flex-col items-center justify-start bg-white;

  .container {
    @apply flex w-full flex-col items-center justify-start gap-2.5 bg-white rounded-lg duration-300;
  }

  .header {
    @apply flex w-full flex-row items-center justify-start gap-2 p-3;
    background-color: #935697;

    .headerText {
      color: white;
      font-weight: bold;
      font-size: x-large;
      text-align: center;
      padding-bottom: 0.4rem;
      margin-right: 0.5rem;
    }

    .headerBackBtn {
      width: 6vw;
      height: 6vw;
      cursor: pointer;
    }
  }

  .mainFrame{
    @apply flex w-full h-full flex-col items-center justify-start gap-5;
    .textInput{
      margin-top: 4vw;
      padding: 3vw;
      text-align: right;
      vertical-align: top;
      width: 90vw;
      height: 30vh;
      border-color: gray;
      border-radius: 3vw;
      border-width: 2px;
      color: black;
      font-size: 5vw;
    }
    .sendBtn{
      background-color: #935697;
      text-align: center;
      color: white;
      width: 90vw;
      padding: 3vw 4vw;
      font-size: 5vw;
      font-weight: normal;
      border-radius: 6vw;
      user-select: none;
      cursor: pointer;
    }
  }
}