.Reader {
  @apply flex w-full h-full flex-col items-center justify-start bg-white;

  .container {
    @apply flex w-full flex-col items-center justify-start gap-2.5 bg-white rounded-lg duration-300;
  }

  .header {
    @apply flex w-full flex-row items-center justify-center gap-2 p-6;

    .headerText {
      color: #8B8B8B;
      font-weight: normal;
      font-size: 5vw;
      text-align: center;
    }

    .headerTextBolder {
      color: #8B8B8B;
      font-weight: bold;
      font-size: 6vw;
      text-align: center;
    }
  }

  .footer {
    background-color: #FAFAFA;
    color: white;
    text-align: center;
    position: fixed;
    padding: 4vw 2vw;
    bottom: 0;
    width: 100%;
    @apply
    flex flex-row
    items-center justify-evenly shadow-2xl shadow-black;
    gap: 15vw;

    .footerIcon {
      width: 7.5vw;
      height: 7.5vw;
    }

    .footerText {
      font-weight: bold;
    }
  }
}