.LessonIntro {
  @apply flex w-full h-full flex-col items-center justify-start bg-white;

  .container {
    @apply flex w-full flex-col items-center justify-start bg-white rounded-lg duration-300;
  }

  .header {
    @apply flex w-full flex-row items-center justify-start gap-2 p-4;
    background-color: #935697;

    .headerText {
      color: white;
      font-weight: bold;
      font-size: x-large;
      text-align: center;
      padding-bottom: 0.4rem;
      margin-right: 0.5rem;
    }

    .headerBackBtn {
      width: 6vw;
      height: 6vw;
      cursor: pointer;
    }
  }

  .pictureFrame{
    @apply flex w-full flex-col items-center justify-start bg-white;
    .picture{
      @apply w-full;
    }

    .pictureCaptionFrame{
      @apply flex w-full flex-col items-center justify-start p-4;
      background-color: #935697;

      .pictureCaptionSubtitle{
        color: white;
        font-weight: bold;
        font-size: 5vw;
        text-align: center;
        padding-bottom: 2vw;
      }
      .pictureCaptionAuthor{
        color: white;
        font-weight: normal;
        font-size: 4vw;
        text-align: center;
        padding-bottom: 1vw;
      }
    }
  }

  .ctaFrame{
    @apply flex w-full flex-row items-center justify-evenly bg-white p-4;

    .mainCta{
      background-color: #935697;
      text-align: center;
      color: white;
      padding: 2.5vw 8vw;
      font-size: 4vw;
      font-weight: normal;
      border-radius: 6vw;
      user-select: none;
      cursor: pointer;
    }
    .otherCta{
      width: 11vw;
      height: 11vw;
      cursor: pointer;
    }
  }

  .progressFrame{
    @apply flex w-full flex-col items-start justify-center bg-white gap-2.5;
    padding: 1.5vw 7vw;
    .progressLog{
      font-size: 5vw;
      color: #5F6368;
      font-weight: bold;
    }
    .timeNeeded{
      font-size: 4vw;
      color: #5F6368;
      font-weight: normal;
    }
  }

  .chaptersFrame{
    @apply flex w-full flex-col items-center justify-evenly bg-white gap-5;
    padding: 4vw 6vw;
    .chapter{
      @apply flex w-full flex-row items-center justify-evenly gap-1;
      background-color: #F4EEF5;
      padding: 5vw 5vw;
      border-radius: 4vw;

      .chapterText{
        @apply flex w-full flex-col items-start justify-evenly gap-3;
        color: #5F6368;
        .chapterTitle{
          font-size: 4vw;
          font-weight: bold;
        }
        .chapterSubtitle{
          font-size: 3.5vw;
          font-weight: normal;
        }
      }
      .chapterIcon{
        width: 10vw;
        height: 10vw;
      }
    }
  }
}