.App {
  @apply flex w-full flex-col items-center justify-center;

  .container {
    @apply flex flex-col items-center justify-center gap-4 bg-secondaryBg rounded-lg p-10 duration-300;

    &:hover {
      @apply shadow-md shadow-button
    }
  }

  .header {
    @apply flex flex-row items-start justify-center gap-2 bg-amber-50 rounded-2xl p-3 border-2
  }

  .headerText {
    @apply text-black
  }

  .headerImage {
    width: 2rem;
    height: 2rem;
  }

  .title {
    @apply text-2xl font-black;
  }

  .subtitle {
    @apply text-xl font-bold;
  }

  .lessonTitle {
    @apply text-lg;
  }

  .lessonSubtitle {
    @apply text-sm;
    text-wrap: wrap;
    text-align: center;
    width: 50vw;
  }

  .lessonSlider {
    @apply flex flex-row items-center justify-center gap-2
  }
  .lessonSliderBtn {
    @apply flex items-center justify-center p-1 cursor-pointer
  }
  .lessonCard {
    @apply flex flex-col items-center justify-center gap-2 border-2 border-blue-500 rounded-lg p-4
  }
  .githubLink {
    @apply link text-link;

    &:hover {
      @apply underline text-link;
    }
  }

  .clickMe {
    @apply btn btn-sm btn-solid-primary bg-button text-buttonText;

    &:hover {
      @apply brightness-110 bg-button;
    }
  }
}