.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  @apply
  flex flex-row
  items-center justify-center
  bg-amber-400 p-3;
  gap: 4vw;

  .footerProfile {
    width: 1.5rem;
    height: 1.5rem;
  }

  .footerHome {
    width: 1.5rem;
    height: 1.5rem;
  }

  .footerText {
    font-weight: bold;
  }
}