.footer {
  background-color: #FAFAFA;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  @apply
  flex flex-row
  items-center justify-center shadow-2xl shadow-black;
  gap: 15vw;

  .footerIcon {
    width: 10vw;
    height: 10vw;
  }

  .footerText {
    font-weight: bold;
  }
}