.Home {
  @apply flex w-full h-full flex-col items-center justify-start;

  .container {
    @apply flex w-full flex-col items-center justify-start gap-2.5 bg-white rounded-lg duration-300;

    &:hover {
      @apply shadow-md shadow-button
    }
  }

  .header {
    @apply flex w-full flex-row items-center justify-start gap-2 bg-white p-3;

    .headerLogo {
      width: 2.75rem;
      height: 2.75rem;
    }

    .headerText {
      color: #6C009C;
      font-weight: bold;
      font-size: x-large;
      text-align: center;
      padding-bottom: 0.4rem;
    }
  }

  .bannerFrame{
    @apply flex w-full flex-row items-center justify-start
    gap-2 bg-white rounded-sm p-3;

    .banner {
      color: black;
      width: 10rem;
      height: 7rem;
      @apply
      flex flex-row items-center justify-center
      gap-2 bg-gray-2 rounded-xl p-3 border-2;
    }
  }

  .cardFrame {
    @apply flex w-full flex-col items-start justify-start
    gap-1 bg-white rounded-sm p-3;

    .cardFrameTitle {
      color: black;
      font-size: 1rem;
    }

    .cardSlider {
      @apply flex w-full flex-row items-center justify-start
      gap-2 bg-white rounded-sm p-3;

      .card {
        color: black;
        width: 7rem;
        height: 7rem;
        @apply
        flex flex-row items-center justify-center
        gap-2 bg-gray-2 rounded-xl p-3 border-2;
      }
    }
  }

  .categoryBubbles{
    @apply
    flex w-full flex-col
    items-center justify-center
    bg-white p-3;
  }

  .categoryBubbleRow {
    @apply
    flex w-full flex-row
    items-center justify-center
    bg-white p-3;
    gap: 4vw;
  }

  .categoryBubble{
    width: 25vw;
    height: 25vw;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    font-weight: 800;
    color: white;
  }

  .suggestUs {
    width: 80vw;
    height: auto;
    border-color: #8E24A8;
    border-width: 2px;
    @apply
    flex flex-col
    items-center justify-center
    bg-white rounded-lg p-3;
    gap: 4vw;

    .suggestUsTitle{
      font-weight: bolder;
      text-align: center;
      vertical-align: center;
      color: black;
    }

    .suggestUsSubtitle {
      font-weight: normal;
      text-align: center;
      vertical-align: center;
      color: black;
    }

    .suggestUsCta {
      font-weight: normal;
      border-radius: 10rem;
      border-color: black;
      border-width: 2px;
      background-color: #55A800;
      color: black;
      padding: 1rem;
    }
  }
}