.Search {
  @apply flex w-full h-full flex-col items-center justify-start bg-white;

  .container {
    @apply flex w-full flex-col items-center justify-start gap-2.5 bg-white rounded-lg duration-300;
  }

  .header {
    @apply flex w-full flex-row items-center justify-start gap-2 bg-white p-3;

    .headerText {
      color: #5F6368;
      font-weight: bold;
      font-size: x-large;
      text-align: center;
      padding-bottom: 0.4rem;
      margin-right: 0.5rem;
    }
  }
}